.questionBox {
    width: 100%;
    min-height: 150px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin-bottom:15px; 
    padding: 10px 15px 15px;
    transition: 0.2s;

    &:hover {
        border-left: 5px solid #3274d5;
        padding-left: 11px;
        transition: 0.2s;
        box-shadow: 0px 3px 2px 0px #cecece;
    }

    .q-title {
        // font-weight: bold;
        font-family: 'font-custom';
    }
    .q-divider {
        width: 100%;
        height: 5px;
        border-bottom: 1px solid #dedede;
        margin-bottom: 15px;
    }
    .q-option {
        margin: 0 0 20px 5px;
        font-size: 14px;
    }
    .q-refs {
        float: left;
        margin-top: -30px;
        width: 100%;
        font-size: 12px;
        text-align: center;
        color: #b4b4b4;
    }


    .confirm-btn {
        text-align: right;

        button {
            background: #3274d5;
            color: #fff;
            padding: 7px 30px;
            border-radius: 4px;
            border: 1px solid #3167b8;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}



.toolbox {
    width: 50px;
    min-height: 150px;
    position: fixed;
    bottom: 50%;
    right: 18%;
    transform: translateY(50%);
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 4px;

    div {
        padding: 5px;
    }
}
