@import 'general'; 


.w-container {
    max-width: 900px;
}


//hide on small resolutions
@media screen and (max-width:768px) {
    .hide-sm{display: none;}
}
//hide on extra small resolutions
@media screen and (max-width:544px) {
    .hide-xs{display: none;}
}